# Dependencies
node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Environment & Secrets (Supabase keys safe rahengi)
.env
.env*
.env.local
*.pem
*.key

# Build & TypeScript Output
/build
dist/
*.tsbuildinfo
next-env.d.ts
/.next/
/out/

# IDE, OS & Logs
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
Desktop.ini
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Deployments & Python
.vercel
.netlify
__pycache__/
*.py[cod]
.venv/
venv/
env/